<h1> Create Chore for <%= @apartment.address %> </h1>

<%= form_for(@chore) do |c| %>
  <div class="field">
    <%= c.label :name, "Name" %><br>
    <%= c.text_field :name %>
  </div>
  <div class="field">
    <%= c.label :completion_interval, "Days Between Completion" %><br>
    <%= c.text_field :name %>
  </div>
  <div class="field">
  <%= q.label :chorescore, "Chore Weight" %><br>
  <%= q.collection_radio_buttons :chorescore, @points_collection, :first, :last %>
</div>


<%= link_to 'Back', chores_path %>
