  <h3> Create Chore for <%= @apartment.address %> </h3>

<div class="new_chore_form">
  <%= form_for(@chore) do |c| %>
  <div class="field">
    <%= c.label :name, "Name" %><br>
    <%= c.text_field :name %>
  </div>
  <div class="field">
    <%= c.label :completion_interval, "Days Between Completion" %><br>
    <%= c.text_field :completion_interval %>
  </div>
  <div class="field">
    <%= c.label :points, "Chore Weight" %><br>
    <%= c.collection_radio_buttons :points, @points_collection, :first, :last %>
  </div>
  <div class="actions">
    <%= c.submit "Add Chore" %>
  </div>
  <% end  %>
</div>

<div class="back">
  <%= link_to 'Back', root_path %>
</div>
