<% if current_user %>
  <%= link_to "Create New Apartment", new_apartment_path %>


  <div class="new_chore_form">
    <%= form_tag :controller => 'apartments', :action => 'index', :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field'%>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>

  <ul class="result">
    <% @apartments.each do |apartment| %>
      <li><%= link_to apartment.address,
      :action=> 'show', :id => apartment.id %></li>
    <% end %>
  </ul>









<% end  %>
