<h1> Chores for <%= @apartment.address %> </h1>

<%= link_to 'Create a New Chore', new_chore_path %><br>

<% @users.each do |user| %>
  <% @chorescore = user.chorescore %>
  <span class= "user-information" id=<%= user.id %>>
    <h5><%= user.name %></h5>
    <h5><span id= <%="user-chorescore-#{user.id}"%>> Chorescore: <%= @chorescore %><span></h5>
  </div><br>
<% end %>

<p id="chore-claim-message"></p>

<div class ="due_soon">
  <% @chores.each do |chore| %>
    <% @points = chore.points %>
    <span class="mychore" id=<%= chore.id %>
      <% if chore.completion_interval > 0 %>
        <ul class="two-day" >
          <li><%= chore.name %></li><br>
          <li>Worth <%= @points %> points</li><br>
          <li>Due in <%= chore.completion_interval %> days</li><br>
          <li>Last Completed By: <%= chore.user.name %></li>
        </ul>
        <button class="js-claim-chore", id=<%="js-claim-chore-#{chore}" %>, data-user = <%= @user.id %> data-chore = <%= chore.id %> data-points = <%= chore.points %> data-score = <%= @user.chorescore %>>Claim Chore</button><br>
        <button class="js-delete-chore", id=<%="js-delete-chore-#{chore}" %> data-chore = <%= chore.id %>>Delete Chore</button><br>
      <% end %>
    <% end %>
  </span>
</div>
