<h1> Chores for <%= @apartment.address %> </h1>
<h3><%= Time.now.strftime('%e %b %Y %H:%M:%S%p') %></h3>

<% @users.each do |user| %>
  <% @chorescore = user.chorescore %>
  <span class= "user-information" id=<%= user.id %>>
    <h5><%= user.name %></h5>
    <h5><span id= <%="user-chorescore-#{user.id}"%>> Chorescore: <%= @chorescore %><span></h5>
  </div><br>
<% end %>

<%= link_to 'Create a New Chore', new_chore_path %><br>

<p id="chore-claim-message"></p>

<div class ="due_soon">
  <% @chores.each do |chore| %>
    <% if chore.completion_interval > 0 %>
      <span class="mychore" id=<%= chore.id %>
        <li><%= chore.name %></li><br>
        <% if @points == 1 %>
          <li>Worth <%= chore.points %> point</li><br>
        <% else  %>
          <li>Worth <%= chore.points %> points</li><br>
        <% end %>
        <li>Last Completed By <%= chore.user.name %> on <%= chore.last_completed.strftime('%e %b %Y %H:%M:%S%p') %></li><br>
        <li>Due On <%= chore.due_by.strftime('%e %b %Y %H:%M:%S%p') %></li><br>
        <button class="js-claim-chore", id=<%="js-claim-chore-#{chore}" %>
          data-user = <%= @user.id %>
          data-chore = <%= chore.id %>
          data-points = <%= chore.points %>
          data-score = <%= @user.chorescore %>
          data-last_completed = <%= Time.now %>
          data-due_by = <%= Time.now + chore.completion_interval.days %>
          >Claim Chore
        </button>
        <button class="js-delete-chore", id=<%="js-delete-chore-#{chore}" %>
          data-chore = <%= chore.id %>
          >Delete Chore
        </button><br><br>
      </span><br>
    <% end %>
  <% end %>
</div>

<%= link_to 'Create a New Chore', new_chore_path %><br>
