<h1> Chores for <%= @apartment.address %> </h1>

<%= link_to 'Create a New Chore', new_chore_path %><br>

<% @chores.each do |chore| %>
<ul>
  <li><%= chore.name %></li><br>
  <li>Worth <%= chore.points %> points</li><br>
  <li>Due in <%= chore.completion_interval %> days</li>
</ul><br>
<% end %>
