<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ChoreMate</title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <link rel="stylesheet" href="app/assets/stylesheets/application.css" >
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="flash-container">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>



  </body>
</html>
