<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ChoreMate</title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar row">
        <div class="name">
            <h1>ChoreMate</h1>
        </div>
        <div class="user-widget row">
          <% if current_user %>
            <div class="signout">
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </div>
          <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </div>
      </div>




    <% flash.each do |key, value| %>
      <div class="flash-container">
        <%= value %>
      </div>
    <% end %>


    <%= yield %>



  </body>
</html>
